/*=======================
   Tweetmap - styles.css
   Nick Molina - 2013
========================= */

/*=======================
   Bootstrap styles
========================= */

html,body {
    height: 100%;
}
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

.header{
 	height: 40px;
}

.container {
    width: auto;
    text-align:center;
}
 	.container .credit {
        margin: 20px 0;
     }

#logo {
	float: left;
}

/*=======================
       Map styles
========================= */

#map {
  background: #fff;
  float:right;
  margin-left:20px;
  width: 600px;
  height: 375px;
  border-radius: 12px; 
  -moz-border-radius: 12px; 
  -webkit-border-radius: 12px; 
  border: 3px solid #00ffde;
}

circle {
  fill: #40205f;
  stroke-width: 5px;
}

.rightfiller
{
	float:right;
	height:200px;
	width:150px;
}

#coords{
  margin-left: 10px;
  margin-top: 10px;
  float:right;
  width:320px;
  height:200px;
  text-align:center;

}
.locnum
{
	font-size:1.5em;
	font-weight:bold;
	color:#00ffde;
}
.loctext
{
	font-size: .75em;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: 1px;
  stroke-opacity: .5;
}

.land {
  fill: #333;
  stroke: #fff;
  stroke-width: 1px;
}

.state-boundary {
  fill: none;
  stroke: #fff;
}

.brush .extent {
  fill: #00ffde;
  fill-opacity: .1;
  stroke: #00ffde;
}

/*=======================
   Twitter Feed Styles
========================= */
#twitter-feed {
	float:left;
	width:258px; 
	font-family: Arial, Helvetica, sans-serif;
	padding:8px 10px 5px 10px; 
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
	border-radius:12px;
    -moz-border-radius: 12px; 
    -webkit-border-radius: 12px; 
  	border: 3px solid #00ffde;
	background-color:#FFF;
	color:#333;
	overflow:auto;
}
#twitter-feed h1 {
	color:#5F5F5F;
	margin:0px;
	padding:9px 0px 9px 0px;
	font-size:18px;
	font-weight:lighter;	
}
.twitter-article, #loading-container {
	width:258px;
	border-top:1px dotted #CCC;
	float:left;	
	padding:8px 0px 8px 0px;
}
#loading-container {
	padding:16px 0px 16px 0px;
	text-align:center;	
}
.twitter-pic {
	float:left;
}

.twitter-pic img {
	float:left;
	border-radius:7px;	
	border:none;
	
}
 img  {
	 border:none;
 }
.twitter-text p {
	margin:0px;
	line-height:15px;	
}
.twitter-text a,  h1 a {
	color: #00ffde;
	text-decoration: none;
}
.twitter-text a:hover,  h1 a:hover {
	text-decoration: underline;
	color: #00ffde;
}

.twitter-text {
	width:204px;
	float:left;
	font-size:11px;
	padding-left: 11px;
}

.tweet-time {
	font-size:10px;
	color:#878787;
	float:right;
}
.tweet-time a, .tweet-time a:hover {
	color:#878787;
}

.backlink {
	font-size:11px;
	text-align:center;
}
.tweetprofilelink a {
	color:#444;
}
.tweetprofilelink a:hover {
	color:#444;
}
.backlink a {
	color:#aaa;
}



